.navbar {
    @include flex(space-between, center);
    width: 100%;
    max-width: 1280px;
    height: 33px;
    margin: 40px auto;

    @media (min-width: $desktop-breakpoint) {
        min-width: 1280px;
    }

    @media (max-width: $tablet-breakpoint) {
        height: 26px;
        margin-bottom: 52px;
    }

    @media (max-width: $mobile-breakpoint) {
        height: 18px;
        padding: 0px 24px;
        margin-bottom: 40px;
    }
}

.nav-spacer {
    width: 100%;
    max-width: 1280px;
    height: 33px;
    margin: 40px auto;

    @media (min-width: $desktop-breakpoint) {
        min-width: 1280px;
    }

    @media (max-width: $tablet-breakpoint) {
        height: 26px;
        margin-bottom: 52px;
    }

    @media (max-width: $mobile-breakpoint) {
        height: 18px;
        padding: 0px 24px;
        margin-bottom: 40px;
    }
}

.close {
    width: 20px;
    height: 20px;
    @media (max-width: $mobile-breakpoint) {
        width: 14px;
        height: 13px;
    }
}

.hamburger {
    width: 25px;
    height: 25px;
    @media (max-width: $mobile-breakpoint) {
        width: 16px;
        height: 15px;
    }
    @media (min-width: 601px) {
        display: none;
    }
}

a {
    color: $grey;
    cursor: pointer;
    margin-left: 31.4px;
    text-transform: uppercase;
    &:visited {
        text-decoration: none;
        color: $grey;
    }
    &:link {
        text-decoration: none;
        color: $grey;
    }
    &:hover {
        text-decoration: none;
        color: $grey;
    }
    &:active {
        text-decoration: none;
        color: $grey;
    }
}

a:first-of-type {
    margin-left: 0px;
}

.header-nav {
    @media (max-width: 600px) {
        display: none;
    }
}

.header-logo {
    @media (max-width: $mobile-breakpoint) {
        width: 163px;
        height: 18px;
    }
}

.dropdown {
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    top: 0px;
    @include flex(flex-start, center);
    flex-direction: column;
    padding: 0 5.556%;

    @media (max-width: $tablet-breakpoint) {
        padding: 0 5.14323%;
    }

    @media (max-width: $mobile-breakpoint) {
        padding: 0px;
    }
}

.dropdown-links-container {
    position: absolute;
    width: 100%;
    height: 577px;
    left: 0px;
    top: 95px;
    padding-top: 35px;
    background: linear-gradient(to top, rgba(254, 252, 247, 0.504981) 10%, #FEFCF7 52%);
}

.dropdown-link {
    color: $dark-grey-blue;
    width: 100%;
    text-align: center;
    margin: 0px;
    text-transform: none;
}