@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap');

// Breakpoints
$desktop-breakpoint: 1440px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 375px;

// Colors
$dark-cyan: #0E8784;
$dark-grey-blue: #333D4B;
$pale-orange: #FDD6BA;
$light-cream: #FEFCF7;
$grey: #83888F;

// Fonts
$fraunces: 'Fraunces', serif;
$barlow: 'Barlow', sans-serif;