@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  line-height: 26px;
}

h1 {
  font-size: 7.2rem;
  font-family: "Fraunces", serif;
  line-height: 72px;
}

h2 {
  font-size: 4rem;
  font-family: "Fraunces", serif;
  line-height: 48px;
}

h3 {
  font-size: 3.2rem;
  font-family: "Fraunces", serif;
  line-height: 36px;
}

h4 {
  font-size: 2.4rem;
  font-family: "Fraunces", serif;
  line-height: 32px;
}

nav {
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 1px;
}

.title {
  font-size: 15rem;
  font-family: "Fraunces", serif;
  line-height: 72px;
  text-transform: lowercase;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  height: 33px;
  margin: 40px auto;
}
@media (min-width: 1440px) {
  .navbar {
    min-width: 1280px;
  }
}
@media (max-width: 768px) {
  .navbar {
    height: 26px;
    margin-bottom: 52px;
  }
}
@media (max-width: 375px) {
  .navbar {
    height: 18px;
    padding: 0px 24px;
    margin-bottom: 40px;
  }
}

.close {
  width: 25px;
  height: 25px;
}
@media (max-width: 375px) {
  .close {
    width: 14px;
    height: 13px;
  }
}
@media (min-width: 601px) {
  .close {
    display: none;
  }
}

.hamburger {
  width: 25px;
  height: 25px;
}
@media (max-width: 375px) {
  .hamburger {
    width: 16px;
    height: 15px;
  }
}
@media (min-width: 601px) {
  .hamburger {
    display: none;
  }
}

a {
  color: #83888F;
  cursor: pointer;
  margin-left: 31.4px;
  text-transform: uppercase;
}
a:visited {
  text-decoration: none;
  color: #83888F;
}
a:link {
  text-decoration: none;
  color: #83888F;
}
a:hover {
  text-decoration: none;
  color: #83888F;
}
a:active {
  text-decoration: none;
  color: #83888F;
}

a:first-of-type {
  margin-left: 0px;
}

@media (max-width: 600px) {
  .header-nav {
    display: none;
  }
}

@media (max-width: 375px) {
  .header-logo {
    width: 163px;
    height: 18px;
  }
}

.dropdown {
  width: 100%;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 100;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(0deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.dropdown-links-container {
  /* Rectangle */
  position: absolute;
  width: 375px;
  height: 577px;
  left: 0px;
  top: 130px;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.504981) 0%, #FEFCF7 55.94%);
}

.dropdown-link {
  color: #333D4B;
  width: 100%;
  text-align: center;
  margin: 0px;
  text-transform: none;
}

/* Home */
/* Mobile - Menu */
footer {
  width: 100%;
  max-width: 1280px;
  height: 120px;
  background-color: #2C343E;
  margin-bottom: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 6.640625%;
}
@media (min-width: 1440px) {
  footer {
    min-width: 1280px;
    margin: 0 auto;
    margin-bottom: 88px;
  }
}
@media (max-width: 950px) {
  footer {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  footer {
    height: 270px;
    margin-bottom: 72px;
    padding: 54px 54px 45px 54px;
  }
}
@media (max-width: 460px) {
  footer {
    padding: 54px 0px 45px 0px;
  }
}
@media (max-width: 375px) {
  footer {
    height: 346px;
    margin: 0px 6.4% 72px 6.4%;
    width: 87.2%;
  }
}
footer nav {
  margin-left: 9.4%;
  margin-right: auto;
}
@media (max-width: 950px) {
  footer nav {
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  footer nav {
    padding-left: 4.5%;
    margin-bottom: 31px;
  }
}
@media (max-width: 375px) {
  footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
    margin-top: 27px;
  }
}
@media (max-width: 375px) {
  footer nav a {
    margin-left: 0px;
    margin-bottom: 25px;
  }
}
footer .social-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  footer .social-div {
    margin-bottom: 8px;
  }
}
footer .social-logo {
  width: 24px;
  height: 24px;
  margin-left: 20px;
}
@media (max-width: 768px) {
  footer .social-logo {
    margin-left: 24px;
  }
}
footer .social-logo:first-of-type {
  margin-left: 0px;
}
footer .twitter-logo {
  width: 24px;
  height: 19.5px;
  margin-left: 20px;
}
@media (max-width: 768px) {
  footer .twitter-logo {
    margin-left: 24px;
    height: 20px;
  }
}

@media (max-width: 375px) {
  .footer-logo {
    width: 217.85px;
    height: 24px;
  }
}

.homepage-outside-div {
  width: 100%;
  max-width: 1440px;
  padding: 0 5.556%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .homepage-outside-div {
    min-width: 1440px;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .homepage-outside-div {
    padding: 0 5.14323%;
  }
}
@media (max-width: 375px) {
  .homepage-outside-div {
    padding: 0px;
  }
}

header {
  background: #A2A2A2;
  border-radius: 10px;
  background-image: url("../assets/home/desktop/image-hero-coffeepress.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1280px;
  height: 600px;
  padding: 6.484375%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 135px;
}
@media (min-width: 1440px) {
  header {
    min-width: 1280px;
  }
}
@media (max-width: 768px) {
  header {
    height: 500px;
    background-image: url("../assets/home/tablet/image-hero-coffeepress.jpg");
    padding: 8.1277%;
    margin-bottom: 142px;
  }
}
@media (max-width: 500px) {
  header {
    padding: 8% 6.484375%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 375px) {
  header {
    background-image: url("../assets/home/mobile/image-hero-coffeepress.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 6.4%;
    padding: 0px;
    box-sizing: border-box;
    width: 87.2%;
    text-align: center;
    margin-bottom: 120px;
  }
}

.header-text-container {
  width: 493px;
  height: 367px;
}
@media (max-width: 768px) {
  .header-text-container {
    width: 398px;
    height: 292px;
  }
}
@media (max-width: 500px) {
  .header-text-container {
    width: 298px;
  }
}
@media (max-width: 375px) {
  .header-text-container {
    width: 279px;
    height: 301px;
  }
}
.header-text-container h1 {
  color: #FEFCF7;
}
@media (max-width: 768px) {
  .header-text-container h1 {
    font-size: 4.8rem;
    line-height: 48px;
  }
}
@media (max-width: 375px) {
  .header-text-container h1 {
    font-size: 4rem;
    line-height: 40px;
  }
}
.header-text-container body {
  width: 440px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-top: 32px;
  margin-bottom: 55px;
}
@media (max-width: 768px) {
  .header-text-container body {
    width: 398px;
    font-size: 1.5rem;
    line-height: 25px;
    opacity: 0.75;
    margin-top: 25px;
    margin-bottom: 38px;
  }
}
@media (max-width: 500px) {
  .header-text-container body {
    width: 298px;
  }
}
@media (max-width: 375px) {
  .header-text-container body {
    width: 279px;
  }
}
.header-text-container button {
  width: 217px;
  height: 56px;
  background: #0E8784;
  border-radius: 6px;
  border: 0px;
  color: #FEFCF7;
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
  line-height: 25px;
  font-style: normal;
}
.header-text-container button a {
  color: #FEFCF7;
  cursor: pointer;
  text-align: center;
  text-transform: none;
}
.header-text-container button a:visited {
  text-decoration: none;
  color: #FEFCF7;
}
.header-text-container button a:link {
  text-decoration: none;
  color: #FEFCF7;
}
.header-text-container button a:hover {
  text-decoration: none;
  color: #FEFCF7;
}
.header-text-container button a:active {
  text-decoration: none;
  color: #FEFCF7;
}

/*# sourceMappingURL=homepage.css.map */
