.homepage-outside-div {
    width: 100%;
    max-width: 1440px;
    padding: 0 5.556%;
    margin: 0 auto;
    background-color: white;
    @include flex(center, flex-start);
    flex-direction: column;

    @media (min-width: $desktop-breakpoint) {
        min-width: 1440px;
        padding: 0px;
    }

    @media (max-width: $tablet-breakpoint) {
        padding: 0 5.14323%;
    }

    @media (max-width: $mobile-breakpoint) {
        padding: 0px;
    }
}

// HEADER
header {
    background: #A2A2A2;
    border-radius: 10px;
    background-image: home-image('desktop', 'image-hero-coffeepress.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1280px;
    height: 600px;
    padding: 6.484375%;
    @include flex(center, flex-start);
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 135px;

    @media (min-width: $desktop-breakpoint) {
        min-width: 1280px;
    }

    @media (max-width: $tablet-breakpoint) {
        height: 500px;
        background-image: home-image('tablet', 'image-hero-coffeepress.jpg');
        padding: 8.1277%;
        margin-bottom: 142px;
    }

    @media (max-width: 500px) {
        padding: 8% 6.484375%;
        @include flex(flex-start, flex-start);
    }

    @media (max-width: $mobile-breakpoint) {
        background-image: home-image('mobile', 'image-hero-coffeepress.jpg');
        @include flex(center, center);
        margin: 0px 6.4%;
        padding: 0px;
        box-sizing: border-box;
        width: 87.2%;
        text-align: center;
        margin-bottom: 120px;
    }
}

.header-text-container {
    width: 493px;
    height: 367px;

    @media (max-width: $tablet-breakpoint) {
        width: 398px;
        height: 292px;
    }

    @media (max-width: 500px) {
        width: 298px;
    }

    @media (max-width: $mobile-breakpoint) {
        width: 279px;
        height: 301px;
    }

    h1 {
        color: $light-cream;
        @media (max-width: $tablet-breakpoint) {
            font-size: 4.8rem;
            line-height: 48px;
        }

        @media (max-width: $mobile-breakpoint) {
            font-size: 4.0rem;
            line-height: 40px;
        }
    }

    body {
        width: 440px;
        color: $light-cream;
        mix-blend-mode: normal;
        opacity: 0.75;
        margin-top: 32px;
        margin-bottom: 55px;

        @media (max-width: $tablet-breakpoint) {
            width: 398px;
            font-size: 1.5rem;
            line-height: 25px;
            opacity: 0.75;
            margin-top: 25px;
            margin-bottom: 38px;
        }

        @media (max-width: 500px) {
            width: 298px;
        }

        @media (max-width: $mobile-breakpoint) {
            width: 279px;
        }
    }

    button {
        width: 217px;
        height: 56px;
        background: $dark-cyan;
        border-radius: 6px;
        border: 0px;
        color: $light-cream;
        font-family: $fraunces;
        font-size: 1.8rem;
        line-height: 25px;
        font-style: normal;

        a {
            color: $light-cream;
            cursor: pointer;
            text-align: center;
            text-transform: none;
            &:visited {
                text-decoration: none;
                color: $light-cream;
            }
            &:link {
                text-decoration: none;
                color: $light-cream;
            }
            &:hover {
                text-decoration: none;
                color: $light-cream;
            }
            &:active {
                text-decoration: none;
                color: $light-cream;
            }
        }
    }
}

// Collection
.collection-div {
    width: 100%;
    max-width: 1111px;
    height: 524.55px;
    margin: 0 auto;
    @include flex(flex-start, center);
    flex-direction: column;

    .top-div {
        width: 100%;
        max-width: 1111px;
        height: 196px;
        mix-blend-mode: normal;
        opacity: 1.0;
        @include flex(center, flex-end);

        .inside-top-div {
            background: -webkit-linear-gradient(270deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
            width: 100%;
            height: 100%;
            background-color: $grey;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            @include flex(center, flex-end);
        }

        h1 {
            text-align: center;
            color: $grey;
            margin-bottom: 33px;

            @media (max-width: 1200px) {
                margin-bottom: 27px;
            }

            @media (max-width: 975px) {
                margin-bottom: 22px;
            }

            @media (max-width: 800px) {
                margin-bottom: 20px;
            }
        }

    }
    
    .coffee-types-div {
        width: 100%;
        max-width: 1111px;
        height: 398.55px;
        margin-top: -45px;
        z-index: 1;
        @include flex(center, flex-start);

        .coffee-type {
            @include flex(space-between, center);
            flex-direction: column;

            .img-box {
                width: 255px;
                height: 193px;
                @include flex(center, flex-start);
                margin-right: 2.52025%;
    
                .coffee-bag-img {
                    width: 90%;
                    height: 90%;
                }
            }

            .coffee-description {
                width: 255px;
                height: 134px;
            }
        }
    }
}

// /* Group 4 */

// width: 255px;
// height: 134px;
// left: 165px;
// top: 1239.55px;



// /* Gran Espresso */

// position: absolute;
// height: 32px;
// left: 0%;
// right: 0%;
// top: calc(50% - 32px/2 - 51px);

// font-family: Fraunces 9pt;
// font-style: normal;
// font-weight: 900;
// font-size: 24px;
// line-height: 32px;
// /* identical to box height, or 133% */
// text-align: center;

// color: #333D4B;



// /* Light and flavorful */

// position: absolute;
// left: 0%;
// right: 0%;
// top: 41.79%;
// bottom: 0%;

// font-family: Barlow;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 26px;
// /* or 162% */
// text-align: center;

// color: #333D4B;



// /* Group 4 Copy */

// position: absolute;
// width: 255px;
// height: 134px;
// left: 450px;
// top: 1239.55px;



// /* Planalto */

// position: absolute;
// height: 32px;
// left: 0%;
// right: 0%;
// top: calc(50% - 32px/2 - 51px);

// font-family: Fraunces 9pt;
// font-style: normal;
// font-weight: 900;
// font-size: 24px;
// line-height: 32px;
// /* identical to box height, or 133% */
// text-align: center;

// color: #333D4B;



// /* Brazilian dark roast */

// position: absolute;
// left: 0%;
// right: 0%;
// top: 41.79%;
// bottom: 0%;

// font-family: Barlow;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 26px;
// /* or 162% */
// text-align: center;

// color: #333D4B;



// /* Group 4 Copy 2 */

// position: absolute;
// width: 255px;
// height: 134px;
// left: 735px;
// top: 1239.55px;



// /* Piccollo */

// position: absolute;
// height: 32px;
// left: 0%;
// right: 0%;
// top: calc(50% - 32px/2 - 51px);

// font-family: Fraunces 9pt;
// font-style: normal;
// font-weight: 900;
// font-size: 24px;
// line-height: 32px;
// /* identical to box height, or 133% */
// text-align: center;

// color: #333D4B;



// /* Mild and smooth blen */

// position: absolute;
// left: 0%;
// right: 0%;
// top: 41.79%;
// bottom: 0%;

// font-family: Barlow;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 26px;
// /* or 162% */
// text-align: center;

// color: #333D4B;



// /* Group 4 Copy 3 */

// position: absolute;
// width: 255px;
// height: 134px;
// left: 1020px;
// top: 1239.55px;



// /* Danche */

// position: absolute;
// height: 32px;
// left: 0%;
// right: 0%;
// top: calc(50% - 32px/2 - 51px);

// font-family: Fraunces 9pt;
// font-style: normal;
// font-weight: 900;
// font-size: 24px;
// line-height: 32px;
// /* identical to box height, or 133% */
// text-align: center;

// color: #333D4B;



// /* Ethiopian hand-harve */

// position: absolute;
// left: 0%;
// right: 0%;
// top: 41.79%;
// bottom: 0%;

// font-family: Barlow;
// font-style: normal;
// font-weight: normal;
// font-size: 16px;
// line-height: 26px;
// /* or 162% */
// text-align: center;

// color: #333D4B;



// /* kopi1 copy */

// position: absolute;
// width: 255px;
// height: 193px;
// left: 165px;
// top: 975px;

// background: url(Image.png);


// /* kopi4 */

// position: absolute;
// width: 234.82px;
// height: 177.48px;
// left: 1041.18px;
// top: 990.52px;

// background: url(Image.png);


// /* kopi3 */

// position: absolute;
// width: 256px;
// height: 193px;
// left: 734px;
// top: 975px;

// background: url(Image.png);


// /* kopi2 */

// position: absolute;
// width: 256px;
// height: 193px;
// left: 450px;
// top: 975px;

// background: url(Image.png);
